In [1]:
from IPython.display import display
import pandas as pd

In [2]:
df = pd.DataFrame({"A" : [14, 4, 5, 4, 1],  
                   "B" : [5, 2, 54, 3, 2], 
                   "C" : [20, 20, 7, 3, 8], 
                   "D" : [14, 3, 6, 2, 6]})

In [3]:
display(df)

    A   B   C   D
0  14   5  20  14
1   4   2  20   3
2   5  54   7   6
3   4   3   3   2
4   1   2   8   6

In [4]:
# function definition 
def highlight_cols(s): 
    color = 'red' if s < 6 else 'blue'
    return (f'background-color: {color}')

In [5]:
# The Styler object is accessible through style attribute of a data frame.
df.style.applymap(highlight_cols)

In [6]:
def highlight_cols2(s): 
    return (f'background-color: yellow')

In [7]:
# The Styler object is accessible through style attribute of a data frame.
df.style.applymap(highlight_cols2, subset=pd.IndexSlice[:, ['B', 'C']])

In [8]:
print(df.style.applymap(highlight_cols).to_string())

 A B C D
0 14 5 20 14
1 4 2 20 3
2 5 54 7 6
3 4 3 3 2
4 1 2 8 6

In [9]:
styler = df.style.applymap(highlight_cols)
print(styler.to_html())

<style type="text/css">
#T_1c73f_row0_col0, #T_1c73f_row0_col2, #T_1c73f_row0_col3, #T_1c73f_row1_col2, #T_1c73f_row2_col1, #T_1c73f_row2_col2, #T_1c73f_row2_col3, #T_1c73f_row4_col2, #T_1c73f_row4_col3 {
  background-color: blue;
}
#T_1c73f_row0_col1, #T_1c73f_row1_col0, #T_1c73f_row1_col1, #T_1c73f_row1_col3, #T_1c73f_row2_col0, #T_1c73f_row3_col0, #T_1c73f_row3_col1, #T_1c73f_row3_col2, #T_1c73f_row3_col3, #T_1c73f_row4_col0, #T_1c73f_row4_col1 {
  background-color: red;
}
</style>
<table id="T_1c73f">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_1c73f_level0_col0" class="col_heading level0 col0" >A</th>
      <th id="T_1c73f_level0_col1" class="col_heading level0 col1" >B</th>
      <th id="T_1c73f_level0_col2" class="col_heading level0 col2" >C</th>
      <th id="T_1c73f_level0_col3" class="col_heading level0 col3" >D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_1c73f_level0_row0" class="row_heading level0 row0" >0</th>
      <td id="T_1c73f_row0_col0" class="data row0 col0" >14</td>
      <td id="T_1c73f_row0_col1" class="data row0 col1" >5</td>
      <td id="T_1c73f_row0_col2" class="data row0 col2" >20</td>
      <td id="T_1c73f_row0_col3" class="data row0 col3" >14</td>
    </tr>
    <tr>
      <th id="T_1c73f_level0_row1" class="row_heading level0 row1" >1</th>
      <td id="T_1c73f_row1_col0" class="data row1 col0" >4</td>
      <td id="T_1c73f_row1_col1" class="data row1 col1" >2</td>
      <td id="T_1c73f_row1_col2" class="data row1 col2" >20</td>
      <td id="T_1c73f_row1_col3" class="data row1 col3" >3</td>
    </tr>
    <tr>
      <th id="T_1c73f_level0_row2" class="row_heading level0 row2" >2</th>
      <td id="T_1c73f_row2_col0" class="data row2 col0" >5</td>
      <td id="T_1c73f_row2_col1" class="data row2 col1" >54</td>
      <td id="T_1c73f_row2_col2" class="data row2 col2" >7</td>
      <td id="T_1c73f_row2_col3" class="data row2 col3" >6</td>
    </tr>
    <tr>
      <th id="T_1c73f_level0_row3" class="row_heading level0 row3" >3</th>
      <td id="T_1c73f_row3_col0" class="data row3 col0" >4</td>
      <td id="T_1c73f_row3_col1" class="data row3 col1" >3</td>
      <td id="T_1c73f_row3_col2" class="data row3 col2" >3</td>
      <td id="T_1c73f_row3_col3" class="data row3 col3" >2</td>
    </tr>
    <tr>
      <th id="T_1c73f_level0_row4" class="row_heading level0 row4" >4</th>
      <td id="T_1c73f_row4_col0" class="data row4 col0" >1</td>
      <td id="T_1c73f_row4_col1" class="data row4 col1" >2</td>
      <td id="T_1c73f_row4_col2" class="data row4 col2" >8</td>
      <td id="T_1c73f_row4_col3" class="data row4 col3" >6</td>
    </tr>
  </tbody>
</table>

In [10]:
type(df.style)  # uses _repr_html_ method creates an HTML representation of it.

pandas.io.formats.style.Styler

In [11]:
print(df._repr_html_())

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>14</td>
      <td>5</td>
      <td>20</td>
      <td>14</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>2</td>
      <td>20</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>54</td>
      <td>7</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>2</td>
      <td>8</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
df.to_html()  # same as above

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>A</th>\n      <th>B</th>\n      <th>C</th>\n      <th>D</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>14</td>\n      <td>5</td>\n      <td>20</td>\n      <td>14</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>4</td>\n      <td>2</td>\n      <td>20</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>5</td>\n      <td>54</td>\n      <td>7</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>3</td>\n      <td>3</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>1</td>\n      <td>2</td>\n      <td>8</td>\n      <td>6</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
df.style.set_table_styles([{"selector":"thead",
                            "props":"background-color:dodgerblue; color:white; border:3px solid red;"},])